body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;

}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    /* Siyah ve %80 saydam arka plan */
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-brand {
    color: #fff !important;
}


h1 {
    display: flex;
    /* Use flexbox to align content horizontally */
    text-align: center;
    /* Center the content vertically */
    padding-top: 80px;
    /* Top spacing */
    margin: 10px;
    /* Margin around the element */
    padding-left: 70px;
    /* Left padding */
}

h2 {
    text-align: center;
    /* Center the content */
    font-size: smaller;
    /* Reduce the font size */
}

.patates p {
    padding-top: 10px;
    /* Top spacing */
    color: red;
    /* Text color is red */
}

.clas1 {
    padding-top: 40px;
    /* Top spacing */
    display: flex;
    /* Use flexbox to align content horizontally */
    width: 80%;
    /* Width of the element */
    margin: auto;
    /* Center horizontally */
    column-gap: 48px;
    /* Gap between columns */
    text-align: center;
    /* Center the content */
}

.div3 {
    flex: 1;
    /* Flexibility for flexbox */
    border: 2px solid #214A5F;
    /* Border  */
    height: 300px;
    /* Height of the element */
    transition: transform 0.2s ease;
    /* Smooth transition for transform property */
}

.content {
    display: flex;
    /* İçerik bölümündeki divleri yatay olarak hizalamak için flexbox kullanıyoruz */
}

.image {
    display: flex;
    /* Use flexbox to align content horizontally */
    justify-content: center;
    /* Center the content horizontally */
}

.image img {
    height: 150px;
    /* Height of the image */
    width: auto;
    /* Automatically adjust width */
}

.div3:hover {
    transform: scale(1.1);
    /* Enlarge the element by 10% on hover */
}